body {
	background-color: #343642;
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

#next-container, #hold-container {
	background-color: red;
	width: 100px;
	height: 100px;
}

#hold, #next {
	width: 10px;
	height: 10px;
}